body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background: hsl(195, 33%, 98%);
}
#board {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-gap: 2px;
}
.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
}
.cell:hover {
    background: #e0e0e0;
}
#status {
    margin: 20px 0;
}
#score {
    margin: 10px 0;
}
/* #gameTitle{
    font-family: monospace;
    
} */

#new{
    margin-top: 20px;
    background: rgb(156, 148, 148);
    border-radius: 5px;
}
#recharger{
    font-family: auto;
    background-color: rgb(213, 22, 22);
    color: azure;
    border-radius: 8px;
    
}
#restart{
    font-family: auto;
    background-color: rgb(104, 138, 10);
    color: azure;
    border-radius: 8px;


}
#recharger:hover {
    background-color: #0e120e00; 
    
}
#restart:hover {
    background-color: #0e120e00; 
}